{% extends "base.html" %}
{% load staticfiles %}
{% block AssetsForm %}
    <style>
        .pagination .page{
            display: inline-block;
            padding: 5px;
            background-color: cyan;
            margin: 5px;
        }
        .pagination .page.active{
            background-color: brown;
            color: white;
        }
    </style>
    <!-- Main content 表格内容-->
      <div class="row">
        <div class="col-xs-12">
          <!-- /.box -->

{#          <div class="box">#}
                <ol class="breadcrumb" style="margin-bottom: 0;">
                    <li><a href="/repository/index2">首页</a></li>
                    <li class="active">资产管理</li>
                </ol>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1 class="table table-bordered table-striped">
{#                <h1>主机列表(对象)</h1>#}
            <div class="add-modal">
                <form id="add_form" method="POST">
                    <div class="group">
                        <input id="ip" type="text" placeholder="主机名" name="hostname" />
                        <input id="port" type="text" placeholder="管理IP" name="manage_ip" />

                    <a id="ajax_submit" >添加主机</a>
                    <span id="erro_msg" style="color: red"></span>
                </form>
            <!-- Single button -->
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                warz <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">warz</a></li>
                <li><a href="#">ls</a></li>
              </ul>
            </div>
            <div style="padding: 5px 8px;">

                <div class="list-block">

                    <div class="clearfix function-area">
                            <button type="button" class="btn btn-default" id="ChooseAll">全选</button>
                            <button type="button" class="btn btn-default" id="ReverseAll">反选</button>
                            <button type="button" class="btn btn-default" id="CancleAll">取消</button>
                            <button type="button" class="btn btn-default" id="idEditMode">进入编辑模式</button>
                            <button type="button" class="btn btn-default c1" id="RemoveAll">批量删除</button>
                            <button type="button" class="btn btn-default">保存</button>
                        </div>
                    </div>

                    <div class="table-responsive table-area">
                        <table class="table table-striped table-bordered">
                            <!-- 表格标题开始 -->
                            <thead id="table_head">
                             <tr>
                                 <th id="allCheckbox"> 选项</th>
                                 <th>主机名称</th>
                                 <th>SN号</th>
                                 <th>管理IP</th>
                                 <th>系统版本</th>
                                 <th>CPU个数</th>
                                 <th>CPU型号</th>
                                 <th>创建时间</th>
                                 <th>业务线</th>
                                 <th>磁盘容量GB</th>
                                 <th>磁盘类型</th>
                                 <th>内存容量GB</th>
                                 <th>操作</th>
                            </tr>
                            </thead>
                            <!-- 表格标题结束 -->

                            <!-- 表格内容开始 -->
                            <tbody id="tb" edit-mode='false'>
                            {% for row in user_list %}
                                <tr id='tb1'>
                                    <td><input type="checkbox"/></td>
                                    <td>{{ row.hostname }}</td>
                                    <td>{{ row.sn }}</td>
                                    <td>{{ row.manage_ip }}</td>
                                    <td>{{ row.os_version }}</td>
                                    <td>{{ row.cpu_count}}</td>
                                    <td>{{ row.cpu_physical_count }}</td>
                                    <td>{{ row.create_at}}</td>
                                    <td>{{ row.business_unit }}</td>
                                    <td>{{ row.capacity_disk }}</td>
                                    <td>{{ row.pd_type }}</td>
                                    <td>{{ row.capacity_memory }}</td>

                                    <td>
                                        <a class="edit">编辑</a>|<a href="/repository/details/?p={{ row.id }}">详情</a>|<a href="/repository/del/?p={{ row.id }}" class="delete">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <!-- 表格内容结束 -->

                        </table>
                        <div class="clearfix">
                            <div class="right">
                                <ul id="pager" class="pagination pagination-sm no-margin">

                                </ul>
                            </div>
                        </div>
                       <div>
                        <select id="ps" onchange="changePageSize(this)">
                            <option value="10"> </option>
                            <option value="10">10</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        </div>

                    <div class="pagination">
                        {{ page_str }}
                    </div>

                    </div>
                </div>

            </div>

            </div>

            </div>
        </div>


<script src="{% static 'js/jquery-1.12.4.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/nb-list.js' %}"></script>
<script src="{% static 'js/xcConfirm.js' %}" type="text/javascript" charset="utf-8"></script>

<script>
    $(function(){
        var v = $.cookie('per_page_count', {'path': "/repository/data/"});
        $('#ps').val(v);
    });

    function changePageSize(ths){
        var v = $(ths).val();
        console.log(v);
        $.cookie('per_page_count',v, {'path': "/repository/data/"});

        location.reload();
    }


    function bindMenus(){
         $('#idEditMode').click(function () {
            let editing = $(this).hasClass('btn-warning');
            console.log(editing);
            if(editing){
                $(this).addClass('btn-waring');
                $(this).text('进入编辑模式');

            }else {
                $(this).addClass('btn-warning');
                $(this).text('退出编辑模式');
            }
        })
    }

    $(function () {
        $('#ajax_submit').click(function(){
            $.ajax({
                url: "/repository/add_ajax",
                type: 'POST',
                //data: {'hostname': $('#host').val(), 'ip': $('#ip').val(), 'port': $('#port').val(), 'b_id': $('#sel').val()},
                data: $('#add_form').serialize(),
                success: function(data){
                    var obj = JSON.parse(data);
                    if(obj.status){
                        location.reload();
                    }else{
                        $('#erro_msg').text(obj.error);
                    }
                }
            })
        });

        $('#ChooseAll').click(function () {
            $('#tb :checkbox').prop('checked',true);
        });

        $('#CancleAll').click(function () {
            $('#tb :checkbox').prop('checked',false)
        });

        $('#ReverseAll').click(function () {
            $(':checkbox').each(function () {
                var v = $(this).prop('checked')?false:true;
                $(this).prop('checked',v)
             });
        });
        $(".delete").click(function () {
            alert("确定删除?");
        });
        $(".edit").click(function () {
            console.log('12121212');
            $(this).parent().siblings('td').contents().unwrap().wrap('<input>');
        });

        $('#RemoveAll').click(function(){
            var mymessage=confirm("确定要删除吗?");
            if(mymessage==true)
                {
                    $(":checkbox:not(#allCheckbox):checked").each(function(){
                        let sfsname = $(this).parent("td").next().text();
                        let test = {"aa":sfsname};
                        console.log($(this).parent("td").next().html());
                        $(":checkbox:not(#allCheckbox):checked").parent().parent().remove();
                        $.ajax({
                            type: "POST",
                            url: '/repository/del_ajax',
                            data: test,
                            success: function(obj){
                            }
                        })
                    });
                }

        });
    });

</script>
{% endblock %}

